---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio of Mario Fernández-Pacheco Albandea" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Rubik', sans-serif !important;
		font-weight: 400;
		background: hsl(0, 0%, 95%);
		background-size: 224px;
	}

	@font-face {
		font-family: 'NewSuperMario';
		src: url('/fonts/NewSuperMarioFont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'LemonMilkRegular';
		src: url('/fonts/LEMONMILK-Regular.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'LemonMilkBold';
		src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
